### FBI

Create a Python list with the top ten FBI's Most Wanted names: url = 'https://www.fbi.gov/wanted/topten'

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
url = 'https://www.fbi.gov/wanted/topten'

In [3]:
response = requests.get(url)
response.status_code # 200 status code means OK!

200

In [4]:
soup = BeautifulSoup(response.content, "html.parser")

In [6]:
#soup.select('#query-results-0f737222c5054a81a120bce207b0446a > ul')

In [7]:
soup.select("h3 > a")

[<a href="https://www.fbi.gov/wanted/topten/yulan-adonay-archaga-carias">YULAN ADONAY ARCHAGA CARIAS</a>,
 <a href="https://www.fbi.gov/wanted/topten/bhadreshkumar-chetanbhai-patel">BHADRESHKUMAR CHETANBHAI PATEL</a>,
 <a href="https://www.fbi.gov/wanted/topten/alejandro-castillo">ALEJANDRO ROSALES CASTILLO</a>,
 <a href="https://www.fbi.gov/wanted/topten/ruja-ignatova">RUJA IGNATOVA</a>,
 <a href="https://www.fbi.gov/wanted/topten/arnoldo-jimenez">ARNOLDO JIMENEZ</a>,
 <a href="https://www.fbi.gov/wanted/topten/omar-alexander-cardenas">OMAR ALEXANDER CARDENAS</a>,
 <a href="https://www.fbi.gov/wanted/topten/alexis-flores">ALEXIS FLORES</a>,
 <a href="https://www.fbi.gov/wanted/topten/jose-rodolfo-villarreal-hernandez">JOSE RODOLFO VILLARREAL-HERNANDEZ</a>,
 <a href="https://www.fbi.gov/wanted/topten/michael-james-pratt">MICHAEL JAMES PRATT</a>,
 <a href="https://www.fbi.gov/wanted/topten/rafael-caro-quintero">RAFAEL CARO-QUINTERO</a>]

In [8]:
names = []

num_iter = len(soup.select("h3 > a"))

names_list = soup.select("h3 > a")

for i in range(num_iter):
    names.append(names_list[i].get_text())

In [9]:
top_10_wanted = pd.DataFrame({'names':names})

In [10]:
top_10_wanted.head(10)

                               names
0        YULAN ADONAY ARCHAGA CARIAS
1     BHADRESHKUMAR CHETANBHAI PATEL
2         ALEJANDRO ROSALES CASTILLO
3                      RUJA IGNATOVA
4                    ARNOLDO JIMENEZ
5            OMAR ALEXANDER CARDENAS
6                      ALEXIS FLORES
7  JOSE RODOLFO VILLARREAL-HERNANDEZ
8                MICHAEL JAMES PRATT
9               RAFAEL CARO-QUINTERO

### Languages

Display the top 10 languages by number of native speakers stored in a pandas dataframe: url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [11]:
url2 = "https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers"

In [12]:
response2 = requests.get(url2)
response2.status_code # 200 status code means OK!

200

In [13]:
soup2 = BeautifulSoup(response2.content, "html.parser")

In [14]:
# #languages
# soup2.select("tbody > tr > td > a.mw-redirect")

In [15]:
language=soup2.find('table',{'class':"wikitable"})

In [18]:
languages=pd.read_html(str(language))
# convert list to dataframe
languages=pd.DataFrame(languages[0])

In [19]:
languages.head(10)

,Language,Native speakers (millions),Language family,Branch
0,"Mandarin Chinese (incl. Standard Chinese, but ...",920.0,Sino-Tibetan,Sinitic
1,Spanish,475.0,Indo-European,Romance
2,English,373.0,Indo-European,Germanic
3,Hindi (excl. Urdu),344.0,Indo-European,Indo-Aryan
4,Bengali,234.0,Indo-European,Indo-Aryan
5,Portuguese,232.0,Indo-European,Romance
6,Russian,154.0,Indo-European,Balto-Slavic
7,Japanese,125.0,Japonic,Japanese
8,Yue Chinese (incl. Cantonese),85.2,Sino-Tibetan,Sinitic
9,Vietnamese,84.6,Austroasiatic,Vietic

## Earthquakes

Display the 20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe: url = 'https://www.emsc-csem.org/Earthquake/'

In [20]:
url3 = "https://www.emsc-csem.org/Earthquake/"

In [21]:
response3 = requests.get(url3)
response3.status_code # 200 status code means OK!

200

In [22]:
soup3 = BeautifulSoup(response3.content, "html.parser")

In [23]:
#soup3.select('td')

In [24]:
ratio = soup3.find_all('td',{'class','tabev6'})

In [25]:
soup3.find_all('td',{'class','tabev6'})[0].get_text()

'earthquake2023-01-10\xa0\xa0\xa007:15:11.919min ago'

Under tabev6 > class= there are 2 times tabev2 and times tabev1. So I found a way, but I takes too long.

In [47]:
ratio[0].findNextSiblings()

[<td class="tabev1">35.54 </td>,
 <td class="tabev2">N  </td>,
 <td class="tabev1">25.78 </td>,
 <td class="tabev2">E  </td>,
 <td class="tabev3">7</td>,
 <td class="tabev5" id="magtyp0">ML</td>,
 <td class="tabev2">2.1</td>,
 <td class="tb_region" id="reg0"> CRETE, GREECE</td>,
 <td class="comment updatetimeno" id="upd0" style="text-align:right;">2023-01-10 07:30</td>]

In [48]:
#len(ratio)

In [28]:
zeroth_ratio_sibs = ratio[0].findNextSiblings()
zeroth_ratio_sibs

[<td class="tabev1">35.54 </td>,
 <td class="tabev2">N  </td>,
 <td class="tabev1">25.78 </td>,
 <td class="tabev2">E  </td>,
 <td class="tabev3">7</td>,
 <td class="tabev5" id="magtyp0">ML</td>,
 <td class="tabev2">2.1</td>,
 <td class="tb_region" id="reg0"> CRETE, GREECE</td>,
 <td class="comment updatetimeno" id="upd0" style="text-align:right;">2023-01-10 07:30</td>]

In [29]:
latitude_list = list(zeroth_ratio_sibs[0])

In [30]:
latitude_direction_list = list(zeroth_ratio_sibs[1])

In [31]:
longitude_list = list(zeroth_ratio_sibs[2])

In [32]:
longitude_direction_list = list(zeroth_ratio_sibs[3])

In [33]:
magnitude_list = list(zeroth_ratio_sibs[6])

In [34]:
region_list = list(zeroth_ratio_sibs[7])

In [35]:
date_time = []
latitude = []
latitude_direction = []
longitude = []
longitude_direction = []
magnitude = []
region = []

for i in range(0,20):
    zeroth_ratio_sibs = ratio[i].findNextSiblings()
    date_time.append(soup3.find_all('td',{'class','tabev6'})[i].get_text())
    latitude.append(list(zeroth_ratio_sibs[0]))
    latitude_direction.append(list(zeroth_ratio_sibs[1]))
    longitude.append(list(zeroth_ratio_sibs[2]))
    longitude_direction.append(list(zeroth_ratio_sibs[3]))
    magnitude.append(list(zeroth_ratio_sibs[6]))  
    region.append(list(zeroth_ratio_sibs[7]))

Now I need to clean them

In [36]:
date_time

['earthquake2023-01-10\xa0\xa0\xa007:15:11.919min ago',
 'earthquake2023-01-10\xa0\xa0\xa006:59:49.834min ago',
 'earthquake2023-01-10\xa0\xa0\xa006:53:02.741min ago',
 'earthquake2023-01-10\xa0\xa0\xa006:35:34.058min ago',
 'earthquake2023-01-10\xa0\xa0\xa006:19:01.51hr 15min ago',
 'earthquake2023-01-10\xa0\xa0\xa006:15:12.51hr 19min ago',
 'earthquake2023-01-10\xa0\xa0\xa006:13:45.91hr 20min ago',
 'earthquake2023-01-10\xa0\xa0\xa006:01:52.71hr 32min ago',
 'earthquake2023-01-10\xa0\xa0\xa005:57:58.01hr 36min ago',
 'earthquake2023-01-10\xa0\xa0\xa005:43:33.01hr 50min ago',
 'earthquake2023-01-10\xa0\xa0\xa005:39:53.01hr 54min ago',
 'earthquake2023-01-10\xa0\xa0\xa005:30:46.02hr 03min ago',
 'earthquake2023-01-10\xa0\xa0\xa005:24:50.32hr 09min ago',
 'earthquake2023-01-10\xa0\xa0\xa005:07:34.02hr 26min ago',
 'earthquake2023-01-10\xa0\xa0\xa005:02:21.72hr 31min ago',
 'earthquake2023-01-10\xa0\xa0\xa004:45:04.22hr 49min ago',
 'earthquake2023-01-10\xa0\xa0\xa004:43:24.12hr 50min ago',
 'earthquake2023-01-10\xa0\xa0\xa004:22:00.23hr 12min ago',
 'earthquake2023-01-10\xa0\xa0\xa003:47:40.13hr 46min ago',
 'earthquake2023-01-10\xa0\xa0\xa003:43:47.93hr 50min ago']

In [37]:
import re
pattern_date = '(\d{4}-\d{2}-\d{2})'
pattern_time = '(\d{2}:\d{2}:\d{2})'

In [38]:
date = []
date_c = []
for i in range(0,20):
    date.append(re.findall(pattern_date, date_time[i]))
    date_c.append(date[i][0])

In [39]:
time = []
time_c = []
for i in range(0,20):
    time.append(re.findall(pattern_time, date_time[i]))
    time_c.append(time[i][0])

From below, there is \xa0 strings in values, and values are saved as lists: for_ex[0][0] and for_ex[1][0], so I will clean them

I will look for a shorter sloution later

In [40]:
res = []
for i in range(0,20):
    res.append(latitude[i][0])
    latitude_c = [sub.replace('\xa0', '') for sub in res]

In [41]:
res2 = []
for i in range(0,20):
    res2.append(latitude_direction[i][0])
    latitude_direction_c = [sub.replace('\xa0', '') for sub in res2]

In [42]:
res3 = []
for i in range(0,20):
    res3.append(longitude[i][0])
    longitude_c = [sub.replace('\xa0', '') for sub in res3]

In [44]:
res4 = []
for i in range(0,20):
    res4.append(longitude_direction[i][0])
    longitude_direction_c = [sub.replace('\xa0', '') for sub in res4]

In [45]:
magnitude_c = []
for i in range(0,20):
    magnitude_c.append(magnitude[i][0])

In [46]:
res5 = []
for i in range(0,20):
    res5.append(region[i][0])
    region_c = [sub.replace('\xa0', '') for sub in res5]

In [50]:
latest_earthquakes = pd.DataFrame({"region":region_c, "date":date_c, "time":time_c, "latitude1":latitude_c, "lat_dir":latitude_direction_c,"longitude1":longitude_c,"long_dir":longitude_direction_c,"magnitude":magnitude_c})

In [51]:
latest_earthquakes['latitude'] = latest_earthquakes['latitude1'] +' '+ latest_earthquakes['lat_dir']

In [52]:
latest_earthquakes['longitude'] = latest_earthquakes['longitude1'] +' '+ latest_earthquakes['long_dir']

In [53]:
latest_earthquakes=latest_earthquakes.drop(columns=['latitude1','lat_dir','longitude1','long_dir'])

In [54]:
latest_earthquakes = latest_earthquakes[['date', 'time', 'latitude','longitude','region','magnitude']]

In [55]:
latest_earthquakes

,date,time,latitude,longitude,region,magnitude
0,2023-01-10,07:15:11,35.54 N,25.78 E,"CRETE, GREECE",2.1
1,2023-01-10,06:59:49,37.74 N,122.13 W,"SAN FRANCISCO BAY AREA, CALIF.",2.7
2,2023-01-10,06:53:02,17.97 N,66.87 W,PUERTO RICO,2.1
3,2023-01-10,06:35:34,2.50 S,140.69 E,"NEAR N COAST OF PAPUA, INDONESIA",3.8
4,2023-01-10,06:19:01,18.13 N,67.24 W,"MONA PASSAGE, PUERTO RICO",2.6
5,2023-01-10,06:15:12,40.67 N,30.46 E,WESTERN TURKEY,3.4
6,2023-01-10,06:13:45,19.56 N,155.98 W,"ISLAND OF HAWAII, HAWAII",2.8
7,2023-01-10,06:01:52,18.85 N,64.41 W,VIRGIN ISLANDS REGION,3.8
8,2023-01-10,05:57:58,9.18 S,115.69 E,"SOUTH OF BALI, INDONESIA",3.5
9,2023-01-10,05:43:33,39.37 N,26.24 E,NEAR THE COAST OF WESTERN TURKEY,2.3
10,2023-01-10,05:39:53,9.60 S,112.93 E,"SOUTH OF JAVA, INDONESIA",3.4
11,2023-01-10,05:30:46,22.48 S,68.80 W,"ANTOFAGASTA, CHILE",2.7
12,2023-01-10,05:24:50,14.97 S,167.28 E,VANUATU,5.7
13,2023-01-10,05:07:34,8.28 N,82.83 W,PANAMA-COSTA RICA BORDER REGION,3.2
14,2023-01-10,05:02:21,37.26 N,121.64 W,NORTHERN CALIFORNIA,2.2
15,2023-01-10,04:45:04,17.99 N,66.89 W,PUERTO RICO,3.5
16,2023-01-10,04:43:24,35.56 N,25.80 E,"CRETE, GREECE",3.0
17,2023-01-10,04:22:00,28.07 N,16.21 W,"CANARY ISLANDS, SPAIN REGION",1.9
18,2023-01-10,03:47:40,18.07 N,65.39 W,PUERTO RICO REGION,2.3
19,2023-01-10,03:43:47,29.28 N,17.29 W,"CANARY ISLANDS, SPAIN REGION",2.3

Short-correct way for earthquakes-I will look into that later

In [56]:
# #initialize empty lists
# date_time = []
# latitude = []
# longitude = []
# depth = []
# magnitude = []
# region_name = []
# latitude_SN = []
# longitude_EW = []

# # define the number of iterations of our for loop
# # by checking how many elements are in the retrieved result set
# # (this is equivalent but more robust than just explicitly defining 250 iterations)
# num_iter = len(soup3.select('td.tabev5'))

# date_time_list = soup3.select('b > a')
# region_name_list = soup3.select('td.tb_region')
# depth_list = soup3.select('td.tabev3')

# latitude_list = soup3.select('td.tabev1')
# longitude_list = soup3.select('td.tabev1')

# latitude_SN_list = soup3.select('td.tabev2')
# longitude_EW_list = soup3.select('td.tabev2')
# magnitude_list = soup3.select('td.tabev2')

# # iterate through the result set and retrieve all the data
# for i in range(num_iter):
#     date_time.append(date_time_list[i].get_text())
#     depth.append(depth_list[i].get_text())
#     region_name.append(region_name_list[i].get_text())
    
# for i in range(0,len(soup3.select('td.tabev5'))*2,2):
#     latitude.append(latitude_list[i].get_text())
#     longitude.append(longitude_list[i+1].get_text())

# for i in range(0,len(soup3.select('td.tabev5'))*3,3):
#     latitude_SN.append(latitude_SN_list[i].get_text())
#     longitude_EW.append(longitude_EW_list[i+1].get_text())
#     magnitude.append(magnitude_list[i+2].get_text())

In [57]:
# # each list becomes a column
# top_20_earthquakes = pd.DataFrame({"date & time":date_time,
#                        "latitude degrees":latitude,
#                        "latitude SN":latitude_SN,
#                        "longitude degrees":longitude,
#                        "longitude EW":longitude_EW,
#                        "depth":depth,
#                        "magnitude":magnitude,
#                        "region":region_name,
#                       })
# top_20_earthquakes.head(10)