### FBI

Create a Python list with the top ten FBI's Most Wanted names: url = 'https://www.fbi.gov/wanted/topten'

In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [3]:
url = 'https://www.fbi.gov/wanted/topten'

In [4]:
response = requests.get(url)
response.status_code # 200 status code means OK!

200

In [5]:
soup = BeautifulSoup(response.content, "html.parser")

In [6]:
#soup.select('#query-results-0f737222c5054a81a120bce207b0446a > ul')

In [7]:
soup.select("h3 > a")

[<a href="https://www.fbi.gov/wanted/topten/yulan-adonay-archaga-carias">YULAN ADONAY ARCHAGA CARIAS</a>,
 <a href="https://www.fbi.gov/wanted/topten/bhadreshkumar-chetanbhai-patel">BHADRESHKUMAR CHETANBHAI PATEL</a>,
 <a href="https://www.fbi.gov/wanted/topten/alejandro-castillo">ALEJANDRO ROSALES CASTILLO</a>,
 <a href="https://www.fbi.gov/wanted/topten/ruja-ignatova">RUJA IGNATOVA</a>,
 <a href="https://www.fbi.gov/wanted/topten/arnoldo-jimenez">ARNOLDO JIMENEZ</a>,
 <a href="https://www.fbi.gov/wanted/topten/omar-alexander-cardenas">OMAR ALEXANDER CARDENAS</a>,
 <a href="https://www.fbi.gov/wanted/topten/alexis-flores">ALEXIS FLORES</a>,
 <a href="https://www.fbi.gov/wanted/topten/jose-rodolfo-villarreal-hernandez">JOSE RODOLFO VILLARREAL-HERNANDEZ</a>,
 <a href="https://www.fbi.gov/wanted/topten/michael-james-pratt">MICHAEL JAMES PRATT</a>,
 <a href="https://www.fbi.gov/wanted/topten/rafael-caro-quintero">RAFAEL CARO-QUINTERO</a>]

In [8]:
names = []

num_iter = len(soup.select("h3 > a"))

names_list = soup.select("h3 > a")

for i in range(num_iter):
    names.append(names_list[i].get_text())

In [9]:
top_10_wanted = pd.DataFrame({'names':names})

In [10]:
top_10_wanted.head(10)

                               names
0        YULAN ADONAY ARCHAGA CARIAS
1     BHADRESHKUMAR CHETANBHAI PATEL
2         ALEJANDRO ROSALES CASTILLO
3                      RUJA IGNATOVA
4                    ARNOLDO JIMENEZ
5            OMAR ALEXANDER CARDENAS
6                      ALEXIS FLORES
7  JOSE RODOLFO VILLARREAL-HERNANDEZ
8                MICHAEL JAMES PRATT
9               RAFAEL CARO-QUINTERO

### Languages

Display the top 10 languages by number of native speakers stored in a pandas dataframe: url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [11]:
url2 = "https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers"

In [12]:
response2 = requests.get(url2)
response2.status_code # 200 status code means OK!

200

In [13]:
soup2 = BeautifulSoup(response2.content, "html.parser")

In [14]:
# #languages
# soup2.select("tbody > tr > td > a.mw-redirect")

In [15]:
language=soup2.find('table',{'class':"wikitable"})

In [16]:
languages=pd.read_html(str(language))
# convert list to dataframe
languages=pd.DataFrame(languages[0])

In [17]:
languages.head(10)

,Language,Native speakers (millions),Language family,Branch
0,"Mandarin Chinese (incl. Standard Chinese, but ...",920.0,Sino-Tibetan,Sinitic
1,Spanish,475.0,Indo-European,Romance
2,English,373.0,Indo-European,Germanic
3,Hindi (excl. Urdu),344.0,Indo-European,Indo-Aryan
4,Bengali,234.0,Indo-European,Indo-Aryan
5,Portuguese,232.0,Indo-European,Romance
6,Russian,154.0,Indo-European,Balto-Slavic
7,Japanese,125.0,Japonic,Japanese
8,Yue Chinese (incl. Cantonese),85.2,Sino-Tibetan,Sinitic
9,Vietnamese,84.6,Austroasiatic,Vietic

## Earthquakes

Display the 20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe: url = 'https://www.emsc-csem.org/Earthquake/'

In [18]:
url3 = "https://www.emsc-csem.org/Earthquake/"

In [19]:
response3 = requests.get(url3)
response3.status_code # 200 status code means OK!

200

In [20]:
soup3 = BeautifulSoup(response3.content, "html.parser")

In [21]:
#soup3.select('td')

In [22]:
ratio = soup3.find_all('td',{'class','tabev6'})

In [23]:
soup3.find_all('td',{'class','tabev6'})[0].get_text()

'earthquake2023-01-10\xa0\xa0\xa011:19:07.521min ago'

Under tabev6 > class= there are 2 times tabev2 and times tabev1. So I found a way findNextSiblings()

In [24]:
zeroth_ratio_sibs = ratio[0].findNextSiblings()
zeroth_ratio_sibs

[<td class="tabev1">18.94 </td>,
 <td class="tabev2">N  </td>,
 <td class="tabev1">155.30 </td>,
 <td class="tabev2">W  </td>,
 <td class="tabev3">16</td>,
 <td class="tabev5" id="magtyp0">Md</td>,
 <td class="tabev2">2.0</td>,
 <td class="tb_region" id="reg0"> HAWAII REGION, HAWAII</td>,
 <td class="comment updatetimeno" id="upd0" style="text-align:right;">2023-01-10 11:22</td>]

In [25]:
latitude_list = list(zeroth_ratio_sibs[0])

In [26]:
latitude_direction_list = list(zeroth_ratio_sibs[1])

In [27]:
longitude_list = list(zeroth_ratio_sibs[2])

In [28]:
longitude_direction_list = list(zeroth_ratio_sibs[3])

In [29]:
magnitude_list = list(zeroth_ratio_sibs[6])

In [30]:
region_list = list(zeroth_ratio_sibs[7])
region_list

['\xa0HAWAII REGION, HAWAII']

I will put the results' first values in a list and remove \xa0 s

In [31]:
date_time = []
latitude = []
latitude_direction = []
longitude = []
longitude_direction = []
magnitude = []
region = []

for i in range(0,20):
    zeroth_ratio_sibs = ratio[i].findNextSiblings()
    date_time.append(soup3.find_all('td',{'class','tabev6'})[i].get_text())
    latitude.append(list(zeroth_ratio_sibs[0])[0].replace('\xa0', ''))
    latitude_direction.append(list(zeroth_ratio_sibs[1])[0].replace('\xa0', ''))
    longitude.append(list(zeroth_ratio_sibs[2])[0].replace('\xa0', ''))
    longitude_direction.append(list(zeroth_ratio_sibs[3])[0].replace('\xa0', ''))
    magnitude.append(list(zeroth_ratio_sibs[6])[0].replace('\xa0', ''))  
    region.append(list(zeroth_ratio_sibs[7])[0].replace('\xa0', ''))

Combining latitude&longitude and their directions

In [32]:
from functools import reduce
lat = reduce(lambda res, l: res + [l[0] + " " + l[1]], zip(latitude, latitude_direction), [])

In [33]:
long = reduce(lambda res, l: res + [l[0] + " " + l[1]], zip(longitude, longitude_direction), [])

Clean date and time

In [34]:
# date_time

In [35]:
import re
pattern_date = '(\d{4}-\d{2}-\d{2})'
pattern_time = '(\d{2}:\d{2}:\d{2})'

In [36]:
date = []
for i in range(0,20):
    date.append(re.findall(pattern_date, date_time[i])[0])

In [37]:
time = []
for i in range(0,20):
    time.append(re.findall(pattern_time, date_time[i])[0])

In [38]:
latest_earthquakes = pd.DataFrame({"date":date, "time":time, "latitude":lat, "longitude":long,"region":region, "magnitude":magnitude})

In [39]:
latest_earthquakes

,date,time,latitude,longitude,region,magnitude
0,2023-01-10,11:19:07,18.94 N,155.30 W,"HAWAII REGION, HAWAII",2.0
1,2023-01-10,11:13:20,43.33 N,6.33 E,NEAR SOUTH COAST OF FRANCE,2.5
2,2023-01-10,10:57:53,10.56 N,85.90 W,COSTA RICA,2.6
3,2023-01-10,10:51:09,3.96 S,129.20 E,"SERAM, INDONESIA",2.7
4,2023-01-10,10:49:47,39.37 N,26.29 E,NEAR THE COAST OF WESTERN TURKEY,3.3
5,2023-01-10,10:48:48,21.26 S,68.40 W,"ANTOFAGASTA, CHILE",2.7
6,2023-01-10,10:44:48,39.37 N,26.24 E,NEAR THE COAST OF WESTERN TURKEY,2.3
7,2023-01-10,10:21:28,41.69 S,174.16 E,"COOK STRAIT, NEW ZEALAND",3.3
8,2023-01-10,09:44:21,21.80 S,68.60 W,"ANTOFAGASTA, CHILE",4.5
9,2023-01-10,09:40:59,35.05 N,3.83 W,STRAIT OF GIBRALTAR,2.2
10,2023-01-10,09:40:24,19.47 N,155.24 W,"ISLAND OF HAWAII, HAWAII",3.1
11,2023-01-10,09:39:13,39.38 N,26.25 E,NEAR THE COAST OF WESTERN TURKEY,2.4
12,2023-01-10,09:37:16,8.01 S,107.83 E,"JAVA, INDONESIA",2.7
13,2023-01-10,09:33:41,39.11 S,175.71 E,NORTH ISLAND OF NEW ZEALAND,3.4
14,2023-01-10,09:32:49,43.03 N,5.93 E,NEAR SOUTH COAST OF FRANCE,2.0
15,2023-01-10,09:28:18,42.93 N,13.05 E,CENTRAL ITALY,2.0
16,2023-01-10,09:23:19,8.14 S,107.93 E,"JAVA, INDONESIA",4.3
17,2023-01-10,09:17:10,37.29 N,15.07 E,"SICILY, ITALY",2.6
18,2023-01-10,09:05:46,55.34 N,149.27 W,GULF OF ALASKA,4.0
19,2023-01-10,09:04:16,9.32 S,117.84 E,"SUMBAWA REGION, INDONESIA",2.7