### FBI

Create a Python list with the top ten FBI's Most Wanted names: url = 'https://www.fbi.gov/wanted/topten'

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
url = 'https://www.fbi.gov/wanted/topten'

In [3]:
response = requests.get(url)
response.status_code # 200 status code means OK!

200

In [4]:
soup = BeautifulSoup(response.content, "html.parser")

In [5]:
#soup.select('#query-results-0f737222c5054a81a120bce207b0446a > ul')

In [6]:
soup.select("h3 > a")

[<a href="https://www.fbi.gov/wanted/topten/yulan-adonay-archaga-carias">YULAN ADONAY ARCHAGA CARIAS</a>,
 <a href="https://www.fbi.gov/wanted/topten/bhadreshkumar-chetanbhai-patel">BHADRESHKUMAR CHETANBHAI PATEL</a>,
 <a href="https://www.fbi.gov/wanted/topten/alejandro-castillo">ALEJANDRO ROSALES CASTILLO</a>,
 <a href="https://www.fbi.gov/wanted/topten/ruja-ignatova">RUJA IGNATOVA</a>,
 <a href="https://www.fbi.gov/wanted/topten/arnoldo-jimenez">ARNOLDO JIMENEZ</a>,
 <a href="https://www.fbi.gov/wanted/topten/omar-alexander-cardenas">OMAR ALEXANDER CARDENAS</a>,
 <a href="https://www.fbi.gov/wanted/topten/alexis-flores">ALEXIS FLORES</a>,
 <a href="https://www.fbi.gov/wanted/topten/jose-rodolfo-villarreal-hernandez">JOSE RODOLFO VILLARREAL-HERNANDEZ</a>,
 <a href="https://www.fbi.gov/wanted/topten/michael-james-pratt">MICHAEL JAMES PRATT</a>,
 <a href="https://www.fbi.gov/wanted/topten/rafael-caro-quintero">RAFAEL CARO-QUINTERO</a>]

In [7]:
names = []

num_iter = len(soup.select("h3 > a"))

names_list = soup.select("h3 > a")

for i in range(num_iter):
    names.append(names_list[i].get_text())

In [8]:
top_10_wanted = pd.DataFrame({'names':names})

In [9]:
top_10_wanted.head(10)

                               names
0        YULAN ADONAY ARCHAGA CARIAS
1     BHADRESHKUMAR CHETANBHAI PATEL
2         ALEJANDRO ROSALES CASTILLO
3                      RUJA IGNATOVA
4                    ARNOLDO JIMENEZ
5            OMAR ALEXANDER CARDENAS
6                      ALEXIS FLORES
7  JOSE RODOLFO VILLARREAL-HERNANDEZ
8                MICHAEL JAMES PRATT
9               RAFAEL CARO-QUINTERO

### Languages

Display the top 10 languages by number of native speakers stored in a pandas dataframe: url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [10]:
url2 = "https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers"

In [11]:
response2 = requests.get(url2)
response2.status_code # 200 status code means OK!

200

In [12]:
soup2 = BeautifulSoup(response2.content, "html.parser")

In [13]:
# #languages
# soup2.select("tbody > tr > td > a.mw-redirect")

In [14]:
language=soup2.find('table',{'class':"wikitable"})

In [15]:
languages=pd.read_html(str(language))
# convert list to dataframe
languages=pd.DataFrame(languages[0])

In [16]:
languages.head(10)

,Language,Native speakers (millions),Language family,Branch
0,"Mandarin Chinese (incl. Standard Chinese, but ...",920.0,Sino-Tibetan,Sinitic
1,Spanish,475.0,Indo-European,Romance
2,English,373.0,Indo-European,Germanic
3,Hindi (excl. Urdu),344.0,Indo-European,Indo-Aryan
4,Bengali,234.0,Indo-European,Indo-Aryan
5,Portuguese,232.0,Indo-European,Romance
6,Russian,154.0,Indo-European,Balto-Slavic
7,Japanese,125.0,Japonic,Japanese
8,Yue Chinese (incl. Cantonese),85.2,Sino-Tibetan,Sinitic
9,Vietnamese,84.6,Austroasiatic,Vietic

## Earthquakes

Display the 20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe: url = 'https://www.emsc-csem.org/Earthquake/'

In [17]:
url3 = "https://www.emsc-csem.org/Earthquake/"

In [18]:
response3 = requests.get(url3)
response3.status_code # 200 status code means OK!

200

In [19]:
soup3 = BeautifulSoup(response3.content, "html.parser")

In [20]:
#soup3.select('td')

In [21]:
ratio = soup3.find_all('td',{'class','tabev6'})

In [22]:
soup3.find_all('td',{'class','tabev6'})[0].get_text()

'earthquake2023-01-10\xa0\xa0\xa009:17:10.915min ago'

Under tabev6 > class= there are 2 times tabev2 and times tabev1. So I found a way findNextSiblings()

In [23]:
zeroth_ratio_sibs = ratio[0].findNextSiblings()
zeroth_ratio_sibs

[<td class="tabev1">37.29 </td>,
 <td class="tabev2">N  </td>,
 <td class="tabev1">15.07 </td>,
 <td class="tabev2">E  </td>,
 <td class="tabev3">7</td>,
 <td class="tabev5" id="magtyp0">ML</td>,
 <td class="tabev2">2.6</td>,
 <td class="tb_region" id="reg0"> SICILY, ITALY</td>,
 <td class="comment updatetimeno" id="upd0" style="text-align:right;">2023-01-10 09:29</td>]

In [24]:
latitude_list = list(zeroth_ratio_sibs[0])

In [25]:
latitude_direction_list = list(zeroth_ratio_sibs[1])

In [26]:
longitude_list = list(zeroth_ratio_sibs[2])

In [27]:
longitude_direction_list = list(zeroth_ratio_sibs[3])

In [28]:
magnitude_list = list(zeroth_ratio_sibs[6])

In [29]:
region_list = list(zeroth_ratio_sibs[7])

I will put the results' first values in a list and remove \xa0 s

In [30]:
date_time = []
latitude = []
latitude_direction = []
longitude = []
longitude_direction = []
magnitude = []
region = []

for i in range(0,20):
    zeroth_ratio_sibs = ratio[i].findNextSiblings()
    date_time.append(soup3.find_all('td',{'class','tabev6'})[i].get_text())
    latitude.append(list(zeroth_ratio_sibs[0])[0].replace('\xa0', ''))
    latitude_direction.append(list(zeroth_ratio_sibs[1])[0].replace('\xa0', ''))
    longitude.append(list(zeroth_ratio_sibs[2])[0].replace('\xa0', ''))
    longitude_direction.append(list(zeroth_ratio_sibs[3])[0].replace('\xa0', ''))
    magnitude.append(list(zeroth_ratio_sibs[6])[0].replace('\xa0', ''))  
    region.append(list(zeroth_ratio_sibs[7])[0].replace('\xa0', ''))

Combining latitude&longitude and their directions

In [31]:
from functools import reduce
lat = reduce(lambda res, l: res + [l[0] + " " + l[1]], zip(latitude, latitude_direction), [])

In [32]:
long = reduce(lambda res, l: res + [l[0] + " " + l[1]], zip(longitude, longitude_direction), [])

Clean date and time

In [33]:
# date_time

In [34]:
import re
pattern_date = '(\d{4}-\d{2}-\d{2})'
pattern_time = '(\d{2}:\d{2}:\d{2})'

In [35]:
date = []
for i in range(0,20):
    date.append(re.findall(pattern_date, date_time[i])[0])

In [36]:
time = []
for i in range(0,20):
    time.append(re.findall(pattern_time, date_time[i])[0])

In [37]:
latest_earthquakes = pd.DataFrame({"date":date, "time":time, "latitude":lat, "longitude":long,"region":region, "magnitude":magnitude})

In [38]:
latest_earthquakes

,date,time,latitude,longitude,region,magnitude
0,2023-01-10,09:17:10,37.29 N,15.07 E,"SICILY, ITALY",2.6
1,2023-01-10,09:05:46,55.34 N,149.27 W,GULF OF ALASKA,4.0
2,2023-01-10,09:04:16,9.32 S,117.84 E,"SUMBAWA REGION, INDONESIA",2.7
3,2023-01-10,08:56:30,39.10 N,142.10 E,"NEAR EAST COAST OF HONSHU, JAPAN",3.5
4,2023-01-10,08:43:32,39.38 N,26.25 E,NEAR THE COAST OF WESTERN TURKEY,3.0
5,2023-01-10,08:38:21,34.90 N,25.45 E,"CRETE, GREECE",3.7
6,2023-01-10,08:32:31,39.37 N,26.23 E,NEAR THE COAST OF WESTERN TURKEY,2.8
7,2023-01-10,08:27:46,12.25 N,88.14 W,NEAR COAST OF NICARAGUA,4.7
8,2023-01-10,08:26:44,39.37 N,26.24 E,NEAR THE COAST OF WESTERN TURKEY,2.5
9,2023-01-10,08:23:47,38.56 N,23.68 E,GREECE,3.0
10,2023-01-10,08:21:24,10.65 S,166.06 E,SANTA CRUZ ISLANDS,5.0
11,2023-01-10,08:17:56,35.55 N,25.80 E,"CRETE, GREECE",2.9
12,2023-01-10,08:12:28,39.37 N,26.27 E,NEAR THE COAST OF WESTERN TURKEY,2.8
13,2023-01-10,08:09:36,13.00 N,87.83 W,NICARAGUA,2.5
14,2023-01-10,08:04:30,38.60 N,141.90 E,"NEAR EAST COAST OF HONSHU, JAPAN",3.9
15,2023-01-10,07:58:52,39.33 N,26.28 E,NEAR THE COAST OF WESTERN TURKEY,2.8
16,2023-01-10,07:44:35,39.38 N,26.27 E,NEAR THE COAST OF WESTERN TURKEY,2.5
17,2023-01-10,07:43:04,39.39 N,26.23 E,NEAR THE COAST OF WESTERN TURKEY,2.7
18,2023-01-10,07:42:58,38.17 N,74.18 E,TAJIKISTAN,4.4
19,2023-01-10,07:41:52,7.18 S,129.94 E,"KEPULAUAN BABAR, INDONESIA",4.1